@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-white text-black antialiased font-sans;
}

html {
	scroll-behavior: smooth;
}

.container {
	height: calc(100vh - 64px);
}

h1 {
	@apply text-4xl md:text-6xl lg:text-7xl font-sans font-semibold leading-tight md:pb-6 lg:pb-12;
}

@media screen and (min-width: 1350px) {
	#swiper-skills .swiper-wrapper {
		justify-content: center;
	}
}

@media screen and (min-width: 1350px; max-width: 1636px) {
	#swiper-projects .swiper-wrapper {
		justify-content: center;
	}
}

.swiper-slide {
	display: flex;
	justify-content: center;
}
