@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-white text-black antialiased font-sans;
}

html {
	scroll-behavior: smooth;
}

.container {
	min-height: calc(100vh - 64px);
	height: auto;
}

h1 {
	@apply text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-sans font-semibold leading-tight md:pb-6 lg:pb-12;
}

@media screen and (min-width: 1350px) {
	#swiper-skills .swiper-wrapper {
		justify-content: center;
	}
}

@media screen and (min-width: 1350px; max-width: 1636px) {
	#swiper-projects .swiper-wrapper {
		justify-content: center;
	}
}

.swiper-slide {
	display: flex;
	justify-content: center;
}

.img--blur-down .img__element,
.img--blur-down .img__placeholder {
  filter: blur(var(--img-blur));
  transform: scale(var(--img-scale));
}

@media (prefers-reduced-motion: no-preference) {
  .img--blur-down .img__element {
    transition: var(--img-transition-duration) ease;
    transition-property: filter, opacity, transform;
    will-change: filter, transform;
  }
}

.img--blur-down.is-loaded .img__element {
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
}
